# Байт-код Python (ускоряет запуск, в гите не нужен)
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (самое важное, оно у всех свое)
.venv/
venv/
ENV/
env/

# Настройки IDE (VS Code, PyCharm)
.vscode/
.idea/
*.swp
*.swo


# Медиа-файлы и статика (загрузки пользователей)
media/
staticfiles/

# Переменные окружения (секретные ключи, пароли БД)
.env

# Логи
*.log

# Прочее
.DS_Store
